@use "variables" as v;

.contact {
  background-color: v.$light-shadow-color;
  padding-top: 5rem;
  padding-bottom: 5rem;
  .container {
    .row {
      .col {
        .keep-in-touch {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }

      input {
      }

      textarea {
      }
    }
  }
  .section-header {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 3rem;

    h3 {
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }
  }
}
