@use "variables" as v;

nav.main-navbar {
  border-radius: 3rem;
  padding: 1.5rem 1.5rem;
  box-shadow: 0 0 5px v.$light-shadow-color;

  .navbar-nav {
    gap: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
  }
  .nav-link.active {
    color: v.$main-color-2;
  }
}
