$light-shadow-color: rgb(233, 232, 232);
$main-color-1: rgb(130, 97, 238);
$main-color-2: rgb(255, 88, 158);
$color-3: rgba(239, 83, 148, 0.503);
$color-4: rgba(130, 97, 238, 0.73);
$color-5: rgb(255, 255, 255);
$color-6: rgb(116, 110, 110);
$color-7: rgba(179, 160, 241, 0.73);
